{% extends "base.html" %}
{% import "forms.html" as m %}

{% block content %}

    <form class="form-horizontal well" role="form" method="post">

        <fieldset>
            <legend>Coordinates to shake</legend>
            {{ m.form_field_label(form.mystery) }}
            {{ m.form_field_label(form.cache) }}
            {{ m.form_field_label(form.max_distance, size=2) }}
        </fieldset>

        <fieldset>
            <legend>Unknown values</legend>
            <div class="form-group">
                <label for="start-date" class="col-sm-4 control-label">Variable 1</label>
                <div class="col-sm-2">
                    <input type="text" name="startDate" id="start-date" class="form-control">
                </div>
                <div class="col-sm-2">
                    <input type="text" name="startTime" id="start-time" class="form-control">
                </div>
                <div class="col-sm-2">
                    <input type="text" name="startTime" id="start-time" class="form-control">
                </div>
            </div>
        </fieldset>

    </form>
{% endblock %}
