<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Damien Riquet (d.riquet@gmail.com)">

    <title>Geoshaker - Shake mystery caches !</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('.static_files', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('.static_files', filename='css/style.css') }}" rel="stylesheet" type="text/css">

  </head>

  <body>


    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
            <h1><a href="{{ url_for('.home') }}">Geoshaker</a> <small>Shake mystery caches</small></h1>
        </div>

        {% block content %}
        {% endblock %}

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">GeoShaker - Shake mystery caches.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
