{% macro form_field_label(field, tooltip, size=6) -%}
    <div class="form-group">
        <label for="{{  field.id }}" class="col-sm-4 control-label">{{ field.label }}</label>
        <div class="col-sm-{{ size }} {% if field.errors %}has-error{% endif %}">
            <input type="text" name="{{ field.id }}" id="{{ field.id }}" class="form-control"
            value="{% if field.data %}{{ field.data }}{% else %}{{ field.default}}{% endif %}">
        </div>
    </div>
    {% if field.errors %}
    <div class="col-lg-offset-4 col-lg-6">
        <ul>
        {% for error in field.errors %}
        <li><p class="text-danger">{{ error }}</p></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{%- endmacro %}

{% macro form_variable(field, idx) -%}
    <div class="form-group">
        <label for="{{ field.symbol.id }}" class="col-sm-4 control-label">Variable {{ idx }}</label>
        <div class="col-sm-2 {% if 'symbol' in field.errors %}has-error{% endif %}">
            <input type="text" name="{{ field.symbol.id }}" id="{{ field.symbol.id }}" class="form-control"
            value="{% if field.symbol.data %}{{ field.symbol.data }}{% endif %}">
        </div>
        <div class="col-sm-2 {% if 'min_val' in field.errors %}has-error{% endif %}">
            <input type="text" name="{{ field.min_val.id }}" id="{{ field.min_val.id }}" class="form-control"
            value="{% if field.min_val.data %}{{ field.min_val.data }}{% endif %}">
        </div>
        <div class="col-sm-2 {% if 'max_val' in field.errors %}has-error{% endif %}">
            <input type="text" name="{{ field.max_val.id }}" id="{{ field.max_val.id }}" class="form-control"
            value="{% if field.max_val.data %}{{ field.max_val.data }}{% endif %}">
        </div>
    </div>
{%- endmacro %}
