{% extends "base.html" %}
{% import "forms.html" as m %}

{% block content %}
    <p class="lead">While solving mystery cache, Geoshaker gives you a hand by shaking all combinations and keeping the coherent ones. Give it a try !</p>

    <form class="form-horizontal well" role="form" method="post">

        <fieldset>
            <legend>Coordinates to shake</legend>
            <p>
            <em>
                Please enter here the initial coordinates of the mystery cache and
                the coordinates of the cache which can contain symbols (a symbol is a lowercase letter).
            </em>
            </p>
            {{ m.form_field_label(form.mystery, "test") }}
            {{ m.form_field_label(form.cache) }}
            {{ m.form_field_label(form.max_distance, size=2) }}
        </fieldset>

        <fieldset>
            <legend>Unknown values</legend>
            <p>
            <em>
                An unknown value is a variable. It has a name (or a symbol) and a range (from min to max value).
                You can use up to 6 variables.
            </em>
            </p>
            <div class="form-group">
                <p class="col-sm-offset-4 col-sm-2 text-center"><strong>Symbol</strong></p>
                <p class="col-sm-2 text-center"><strong>Min value</strong></p>
                <p class="col-sm-2 text-center"><strong>Max value</strong></p>
            </div>

            {% for var in form.variables %}
                {{ m.form_variable(var, loop.index) }}
            {% endfor %}

            <p class="col-sm-offset-8">
                <button type="button" class="btn btn-default btn-sm" id="add_another_button">
                <span class="glyphicon glyphicon-plus"></span> Add a variable
                </button>
            </p>

        </fieldset>

        <hr/>
            <div class="alert alert-info hide" id="loading-div">
            <p class="text-center">
            <small>
                Computing all the combination can be long. Please do not refresh the page, it will not make it quicker !
            </small>
            </p>
            </div>

            <button type="submit" id="form_button" class="btn btn-default col-lg-offset-10">Submit</button>



    </form>
{% endblock %}

{% block js_include %}

<script>
    $(document).ready(function () {
        $('#add_another_button').click(function () {
            clone_field_list('div.form-group:last');
        });

        $('#form_button').click(function () {
            $('#loading-div').removeClass('hide');
        });


    });


    function clone_field_list(selector) {
        var new_element = $(selector).clone(true);
        var elem_id = new_element.find(':input')[0].id;
        var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
        if (elem_num < 6) {
            new_element.find(':input').each(function() {
                var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + elem_num + '-');
                $(this).attr({'name': id, 'id': id}).val('').removeAttr('checked');
            });
            new_element.find('label').each(function() {
                var new_for = $(this).attr('for').replace('-' + (elem_num - 1) + '-', '-' + elem_num + '-');
                $(this).attr('for', new_for);
            });
            new_element.find('label:first').text('Variable ' + (elem_num + 1));
            $(selector).after(new_element);

            if (elem_num == 5) {
                $('#add_another_button').attr("disabled", true);
            }
        }
    }

</script>

{% endblock %}
